# Banco local
DATABASE_URL="postgresql://postgres:senha@localhost:5437/nome_do_banco"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
PORT=3000

# Seed do admin local
ADMIN_EMAIL="admin@torneios.local"
ADMIN_PASSWORD="troque-esta-senha"

# Sessão
SESSION_SECRET="troque-esta-chave-local"
